mat-form-field {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

mat-card {
  background-color: rgba(95,158,160, 0.85);
  margin: auto;
  margin-top: 1rem;
  animation: fadein 1s;
  width: 50%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
